<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>
        <p>Aplikacja zarządzająca systemem wypożyczalni sprzętu sportowego</p>
    </main>
    <%- include('./fragments/footer.ejs') %>