<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista sprzętów</h2>
        <p>Brak rekordów do wyświetlenia</p>
        <p><a href="form.html" class="button-add">Dodaj nowy sprzęt</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>