<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista sprzętu</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Typ</th>
                    <th>Rozmiar</th>
                    <th>Przeznaczenie</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rolki</td>
                    <td>42</td>
                    <td>Hokejowe</td>
                    <td>
                        <ul class="list-actions">
                            <li><a href="/sprzet/details/1" class="list-actions-button-details">
                                    <span class="material-symbols-outlined">
                                        info
                                    </span>
                                    Szczegóły</a></li>
                            <li><a href="/sprzet/edit/1" class="list-actions-button-edit">
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>
                                    Edytuj</a></li>
                            <li><a href="/sprzet" class="list-actions-button-delete">
                                    <span class="material-symbols-outlined">
                                        remove
                                    </span>
                                    Usuń</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><a href="/sprzet/add" class="button-add">Dodaj nowy sprzęt</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>